@import "tailwindcss";
@config "../../tailwind.config.js";

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes dialog-content-hide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.dropBox {
  @apply flex flex-col overflow-hidden items-start justify-center text-xs p-2 m-2 rounded-md border border-slate-300 shadow-md;
}

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 56 60% 94%;
    --card: 12 61% 11%;
    --card-foreground: 56 60% 94%;
    --popover: 0 0% 5%;
    --popover-foreground: 56 60% 94%;
    --primary: 12 44% 46%;
    --primary-foreground: 56 60% 94%;
    --secondary: 12 61% 11%;
    --secondary-foreground: 56 60% 94%;
    --muted: 12 61% 11%;
    --muted-foreground: 43 34% 78%;
    --accent: 12 44% 46%;
    --accent-foreground: 56 60% 94%;
    --destructive: 12 44% 46%;
    --destructive-foreground: 56 60% 94%;
    --border: 26 20% 24%;
    --input: 26 20% 30%;
    --ring: 12 44% 46%;
    --radius: 0.125rem;
    --chart-1: 12 44% 46%;
    --chart-2: 55 61% 20%;
    --chart-3: 38 63% 46%;
    --chart-4: 43 34% 78%;
    --chart-5: 26 20% 38%;
    --sidebar-background: 12 61% 10%;
    --sidebar-foreground: 56 60% 94%;
    --sidebar-primary: 12 44% 46%;
    --sidebar-primary-foreground: 56 60% 94%;
    --sidebar-accent: 11 56% 18%;
    --sidebar-accent-foreground: 56 60% 94%;
    --sidebar-border: 26 20% 24%;
    --sidebar-ring: 12 44% 46%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 56 60% 94%;
    --card: 12 61% 11%;
    --card-foreground: 56 60% 94%;
    --popover: 0 0% 5%;
    --popover-foreground: 56 60% 94%;
    --primary: 12 44% 46%;
    --primary-foreground: 56 60% 94%;
    --secondary: 12 61% 11%;
    --secondary-foreground: 56 60% 94%;
    --muted: 12 61% 11%;
    --muted-foreground: 43 34% 78%;
    --accent: 12 44% 46%;
    --accent-foreground: 56 60% 94%;
    --destructive: 12 44% 46%;
    --destructive-foreground: 56 60% 94%;
    --border: 26 20% 24%;
    --input: 26 20% 30%;
    --ring: 12 44% 46%;
    --chart-1: 12 44% 46%;
    --chart-2: 55 61% 20%;
    --chart-3: 38 63% 46%;
    --chart-4: 43 34% 78%;
    --chart-5: 26 20% 38%;
    --sidebar-background: 12 61% 10%;
    --sidebar-foreground: 56 60% 94%;
    --sidebar-primary: 12 44% 46%;
    --sidebar-primary-foreground: 56 60% 94%;
    --sidebar-accent: 11 56% 18%;
    --sidebar-accent-foreground: 56 60% 94%;
    --sidebar-border: 26 20% 24%;
    --sidebar-ring: 12 44% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
